.secrets
.idea
*.DS_Store
foo.js
test/report.xml
daemon/node_modules
node_modules
config/local.json
daemon/commands_run.api
daemon/my_analysis*
daemon/*.log
daemon/config/local.json
**/datasources.development.json
**/apikeys.txt
**/whitelist.txt
reports
uploads
local.json
echo.txt
foo.sh
misc.js
s3_files.txt
hoc_script
build.grp
arfs.sh
build_script.sh
test/foo.js
loopback.options*.json
package-lock.json
config/aws_secrets.json
aws_secrets.js
flatten.js
secrets/*.json
.secrets

